html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  @apply bg-slate-800 text-white
}
.container-stretch{
  margin: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;  
}

.input-field{
  @apply focus:outline-none px-6 py-4 rounded-xl 
}
.color-p1 {
  @apply bg-slate-900
}

.color-p2 {
  @apply bg-slate-500
}

.color-s1 {
  @apply bg-teal-900
}

.color-s2 {
  @apply bg-sky-900
}

@tailwind base;
@tailwind components;
@tailwind utilities;