html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  @apply bg-slate-800 text-white
}

.input-field{
  @apply focus:outline-none px-6 py-4 rounded-xl 
}

@tailwind base;
@tailwind components;
@tailwind utilities;